In [4]:
import pandas, csv, sqlite3
# establish the connection to sqlite3 database
sqlite_db_conn = sqlite3.connect("ds_salaries.db")
op_cursor = sqlite_db_conn.cursor()
# create a database for ds_salaries data and read csv into it
database = pandas.read_csv("ds_salaries.csv");
database.to_sql("ds_salaries", sqlite_db_conn, if_exists="append", index = False)

607

In [5]:
#show all attributes to user
op_cursor.execute("select * from ds_salaries")
attributes = [tuple[0] for tuple in op_cursor.description]
print(attributes)

['seq', 'work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

In [16]:
# show all positions and experience level and company locations which has a salary >= 300000USD in work year 2020
op_cursor.execute("select job_title, experience_level, company_location, salary_in_usd from ds_salaries where salary_in_usd >= 300000")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Director of Data Science', 'EX', 'US', 325000)
('Research Scientist', 'MI', 'US', 450000)
('Data Scientist', 'SE', 'US', 412000)
('Financial Data Analyst', 'MI', 'US', 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 423000)
('Principal Data Scientist', 'EX', 'US', 416000)
('Principal Data Engineer', 'EX', 'US', 600000)
('Data Engineer', 'EX', 'US', 324000)
('Applied Data Scientist', 'SE', 'US', 380000)
('Data Analytics Lead', 'SE', 'US', 405000)

In [8]:
# show all different locations
op_cursor.execute("select company_location from ds_salaries")
results = op_cursor.fetchall()
s = set(results)
print (s)

{('AE',), ('GB',), ('PK',), ('LU',), ('GR',), ('UA',), ('IQ',), ('CZ',), ('CL',), ('MT',), ('SG',), ('VN',), ('DK',), ('BR',), ('BE',), ('NG',), ('DE',), ('CO',), ('US',), ('FR',), ('NL',), ('JP',), ('PL',), ('MD',), ('NZ',), ('TR',), ('HU',), ('RO',), ('IL',), ('DZ',), ('CN',), ('IE',), ('HN',), ('MY',), ('AS',), ('AT',), ('IR',), ('SI',), ('CA',), ('AU',), ('CH',), ('PT',), ('HR',), ('IN',), ('ES',), ('IT',), ('RU',), ('MX',), ('EE',), ('KE',)}