In [2]:
import pandas, csv, sqlite3
# establish the connection to sqlite3 database
sqlite_db_conn = sqlite3.connect("ds_salaries.db")
op_cursor = sqlite_db_conn.cursor()
# create a database for ds_salaries data and read csv into it
database = pandas.read_csv("ds_salaries.csv");
database.to_sql("ds_salaries", sqlite_db_conn, if_exists="append", index = False)

607

In [6]:
#show all attributes to user
op_cursor.execute("select * from ds_salaries")
attributes = [tuple[0] for tuple in op_cursor.description]
print(attributes)

['seq', 'work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

In [3]:
# show all positions and experience level and company locations which has a salary >= 300000USD in work year 2020
op_cursor.execute("select job_title, experience_level, company_location, salary_in_usd from ds_salaries where salary_in_usd >= 300000")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Director of Data Science', 'EX', 'US', 325000)
('Research Scientist', 'MI', 'US', 450000)
('Data Scientist', 'SE', 'US', 412000)
('Financial Data Analyst', 'MI', 'US', 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 423000)
('Principal Data Scientist', 'EX', 'US', 416000)
('Principal Data Engineer', 'EX', 'US', 600000)
('Data Engineer', 'EX', 'US', 324000)
('Applied Data Scientist', 'SE', 'US', 380000)
('Data Analytics Lead', 'SE', 'US', 405000)

In [4]:
# show all different locations
op_cursor.execute("select company_location from ds_salaries")
results = op_cursor.fetchall()
s = set(results)
print (s)

{('BR',), ('CN',), ('LU',), ('CH',), ('RO',), ('MY',), ('NL',), ('DK',), ('MD',), ('HR',), ('IL',), ('PK',), ('PT',), ('AU',), ('NZ',), ('HU',), ('SI',), ('SG',), ('PL',), ('GB',), ('AT',), ('CL',), ('NG',), ('IQ',), ('AE',), ('CO',), ('GR',), ('KE',), ('MX',), ('DZ',), ('HN',), ('IR',), ('JP',), ('AS',), ('MT',), ('EE',), ('UA',), ('IT',), ('RU',), ('FR',), ('DE',), ('CA',), ('IE',), ('IN',), ('BE',), ('VN',), ('CZ',), ('US',), ('TR',), ('ES',)}

In [6]:
# show all positions and experience level and company locations which has a salary >= 300000USD and sort the salary to show results in descending order
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries where salary_in_usd >= 300000 order by salary_in_usd DESC")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Data Engineer', 'EX', 'US', 2022, 324000)

In [8]:
# show all positions and experience level and company locations which has a salary >= 300000USD and sort the salary to show results in descending order(first in work_year, then in salary)
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries where salary_in_usd >= 300000 order by work_year DESC, salary_in_usd DESC")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'US', 2020, 325000)

In [35]:
# show all positions and experience level and company locations which has a salary >= 300000USD and the position contains the keyword director
keyword = input ("Enter keyword :") 
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries WHERE job_title LIKE '%%%s%%'"%(keyword))
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'PL', 2021, 153667)
('Director of Data Engineering', 'SE', 'GB', 2021, 113476)
('Director of Data Science', 'SE', 'JP', 2021, 168000)
('Director of Data Science', 'EX', 'DE', 2021, 130026)
('Director of Data Science', 'EX', 'US', 2021, 250000)
('Director of Data Engineering', 'SE', 'US', 2021, 200000)
('Director of Data Science', 'EX', 'DE', 2021, 141846)
('Director of Data Science', 'EX', 'CA', 2022, 196979)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'PL', 2021, 153667)
('Director of Data Engineering', 'SE', 'GB', 2021, 113476)
('Director of Data Science', 'SE', 'JP', 2021, 168000)
('Director of Data Science', 'EX', 'DE', 2021, 130026)
('Director of Data Science', 'EX', 'US', 2021, 250000)
('Director of Data Engineering', 'SE', 'US', 2021, 200000)
('Director of Data Science', 'EX', 'DE', 2021, 141846)
('Director of Data Science', 'EX', 'CA', 2022, 196979)