In [2]:
import pandas, csv, sqlite3
# establish the connection to sqlite3 database
sqlite_db_conn = sqlite3.connect("ds_salaries.db")
op_cursor = sqlite_db_conn.cursor()
# create a database for ds_salaries data and read csv into it
database = pandas.read_csv("ds_salaries.csv");
database.to_sql("ds_salaries", sqlite_db_conn, if_exists="append", index = False)

607

In [6]:
#show all attributes to user
op_cursor.execute("select * from ds_salaries")
attributes = [tuple[0] for tuple in op_cursor.description]
print(attributes)

['seq', 'work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

In [3]:
# show all positions and experience level and company locations which has a salary >= 300000USD in work year 2020
op_cursor.execute("select job_title, experience_level, company_location, salary_in_usd from ds_salaries where salary_in_usd >= 300000")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Director of Data Science', 'EX', 'US', 325000)
('Research Scientist', 'MI', 'US', 450000)
('Data Scientist', 'SE', 'US', 412000)
('Financial Data Analyst', 'MI', 'US', 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 423000)
('Principal Data Scientist', 'EX', 'US', 416000)
('Principal Data Engineer', 'EX', 'US', 600000)
('Data Engineer', 'EX', 'US', 324000)
('Applied Data Scientist', 'SE', 'US', 380000)
('Data Analytics Lead', 'SE', 'US', 405000)

In [4]:
# show all different locations
op_cursor.execute("select company_location from ds_salaries")
results = op_cursor.fetchall()
s = set(results)
print (s)

{('BR',), ('CN',), ('LU',), ('CH',), ('RO',), ('MY',), ('NL',), ('DK',), ('MD',), ('HR',), ('IL',), ('PK',), ('PT',), ('AU',), ('NZ',), ('HU',), ('SI',), ('SG',), ('PL',), ('GB',), ('AT',), ('CL',), ('NG',), ('IQ',), ('AE',), ('CO',), ('GR',), ('KE',), ('MX',), ('DZ',), ('HN',), ('IR',), ('JP',), ('AS',), ('MT',), ('EE',), ('UA',), ('IT',), ('RU',), ('FR',), ('DE',), ('CA',), ('IE',), ('IN',), ('BE',), ('VN',), ('CZ',), ('US',), ('TR',), ('ES',)}

In [36]:
# show all positions and experience level and company locations which has a salary >= 300000USD and sort the salary to show results in descending order
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries where salary_in_usd >= 300000 order by salary_in_usd DESC")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Data Engineer', 'EX', 'US', 2022, 324000)

In [37]:
# show all positions and experience level and company locations which has a salary >= 300000USD and sort the salary to show results in descending order(first in work_year, then in salary)
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries where salary_in_usd >= 300000 order by work_year DESC, salary_in_usd DESC")
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Applied Machine Learning Scientist', 'MI', 'US', 2021, 423000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Research Scientist', 'MI', 'US', 2020, 450000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Director of Data Science', 'EX', 'US', 2020, 325000)

In [39]:
# show all positions and experience level and company locations which has a salary >= 300000USD and the position contains the keyword director
keyword = input ("Enter keyword :") 
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries WHERE job_title LIKE '%%%s%%'"%(keyword))
results = op_cursor.fetchall()
for entry in results:
    print(entry)

('Data Scientist', 'MI', 'DE', 2020, 79833)
('Big Data Engineer', 'SE', 'GB', 2020, 109024)
('Product Data Analyst', 'MI', 'HN', 2020, 20000)
('Data Analyst', 'EN', 'US', 2020, 72000)
('Lead Data Scientist', 'SE', 'US', 2020, 190000)
('Data Scientist', 'MI', 'HU', 2020, 35735)
('Business Data Analyst', 'MI', 'US', 2020, 135000)
('Lead Data Engineer', 'SE', 'NZ', 2020, 125000)
('Data Scientist', 'EN', 'FR', 2020, 51321)
('Data Scientist', 'MI', 'IN', 2020, 40481)
('Data Scientist', 'EN', 'FR', 2020, 39916)
('Lead Data Analyst', 'MI', 'US', 2020, 87000)
('Data Analyst', 'MI', 'US', 2020, 85000)
('Data Analyst', 'MI', 'PK', 2020, 8000)
('Data Engineer', 'EN', 'JP', 2020, 41689)
('Big Data Engineer', 'SE', 'GB', 2020, 114047)
('Data Science Consultant', 'EN', 'IN', 2020, 5707)
('Lead Data Engineer', 'MI', 'US', 2020, 56000)
('Product Data Analyst', 'MI', 'IN', 2020, 6072)
('Data Engineer', 'SE', 'GR', 2020, 47899)
('BI Data Analyst', 'MI', 'US', 2020, 98000)
('Lead Data Scientist', 'MI', 'AE', 2020, 115000)
('Director of Data Science', 'EX', 'US', 2020, 325000)
('Data Engineer', 'SE', 'MX', 2020, 33511)
('Business Data Analyst', 'EN', 'US', 2020, 100000)
('Data Engineering Manager', 'MI', 'DE', 2020, 59303)
('Big Data Engineer', 'EN', 'US', 2020, 70000)
('Data Scientist', 'SE', 'US', 2020, 68428)
('Data Analyst', 'MI', 'FR', 2020, 46759)
('Data Engineer', 'MI', 'AT', 2020, 74130)
('Data Science Consultant', 'MI', 'US', 2020, 103000)
('Data Analyst', 'EN', 'NG', 2020, 10000)
('Data Scientist', 'MI', 'US', 2020, 45760)
('Data Engineering Manager', 'EX', 'ES', 2020, 79833)
('Data Engineer', 'MI', 'US', 2020, 106000)
('Data Engineer', 'MI', 'GB', 2020, 112872)
('Data Scientist', 'MI', 'GB', 2020, 76958)
('Data Engineer', 'SE', 'US', 2020, 188000)
('Data Scientist', 'MI', 'US', 2020, 105000)
('Data Engineer', 'MI', 'FR', 2020, 70139)
('Data Analyst', 'EN', 'IN', 2020, 6072)
('Data Analyst', 'EN', 'US', 2020, 91000)
('Data Engineer', 'EN', 'DE', 2020, 54742)
('Principal Data Scientist', 'SE', 'DE', 2020, 148261)
('Data Scientist', 'MI', 'ES', 2020, 38776)
('Data Scientist', 'MI', 'US', 2020, 118000)
('Data Scientist', 'SE', 'US', 2020, 120000)
('Data Scientist', 'MI', 'US', 2020, 138350)
('Data Engineer', 'MI', 'US', 2020, 110000)
('Data Engineer', 'MI', 'US', 2020, 130800)
('Data Scientist', 'EN', 'IT', 2020, 21669)
('Data Scientist', 'SE', 'US', 2020, 412000)
('Data Scientist', 'EN', 'DE', 2020, 62726)
('Data Scientist', 'EN', 'DE', 2020, 49268)
('Data Science Manager', 'SE', 'US', 2020, 190200)
('Data Scientist', 'EN', 'US', 2020, 105000)
('Data Scientist', 'SE', 'AT', 2020, 91237)
('Data Scientist', 'MI', 'LU', 2020, 62726)
('Data Scientist', 'MI', 'FR', 2020, 42197)
('BI Data Analyst', 'EX', 'US', 2021, 150000)
('Head of Data', 'EX', 'US', 2021, 235000)
('Data Scientist', 'SE', 'FR', 2021, 53192)
('BI Data Analyst', 'MI', 'US', 2021, 100000)
('Data Analyst', 'EN', 'US', 2021, 80000)
('Data Analytics Engineer', 'SE', 'DE', 2021, 79197)
('Data Engineer', 'MI', 'US', 2021, 140000)
('Applied Data Scientist', 'MI', 'CA', 2021, 54238)
('Director of Data Science', 'EX', 'PL', 2021, 153667)
('Data Engineer', 'MI', 'PL', 2021, 28476)
('Data Analyst', 'EN', 'FR', 2021, 59102)
('Data Analytics Engineer', 'MI', 'US', 2021, 110000)
('Lead Data Analyst', 'SE', 'US', 2021, 170000)
('Data Analyst', 'SE', 'US', 2021, 80000)
('Marketing Data Analyst', 'SE', 'DK', 2021, 88654)
('Data Science Consultant', 'EN', 'DE', 2021, 76833)
('Lead Data Analyst', 'MI', 'IN', 2021, 19609)
('Lead Data Engineer', 'SE', 'US', 2021, 276000)
('Data Scientist', 'EN', 'IN', 2021, 29751)
('Cloud Data Engineer', 'MI', 'SG', 2021, 89294)
('Financial Data Analyst', 'MI', 'US', 2021, 450000)
('Data Analyst', 'MI', 'US', 2021, 75000)
('Data Engineer', 'SE', 'US', 2021, 150000)
('BI Data Analyst', 'MI', 'US', 2021, 36259)
('Data Analyst', 'MI', 'US', 2021, 62000)
('Data Scientist', 'MI', 'US', 2021, 73000)
('Data Analyst', 'MI', 'GB', 2021, 51519)
('Data Engineer', 'SE', 'US', 2021, 115000)
('Data Engineer', 'SE', 'US', 2021, 150000)
('Data Engineer', 'EN', 'IN', 2021, 30428)
('Director of Data Engineering', 'SE', 'GB', 2021, 113476)
('Lead Data Engineer', 'SE', 'GB', 2021, 103160)
('Data Engineer', 'MI', 'NL', 2021, 45391)
('Data Scientist', 'MI', 'NG', 2021, 50000)
('Data Science Engineer', 'MI', 'GR', 2021, 40189)
('Data Analyst', 'EN', 'US', 2021, 90000)
('Data Engineer', 'MI', 'US', 2021, 200000)
('Big Data Engineer', 'MI', 'RO', 2021, 60000)
('Principal Data Engineer', 'SE', 'US', 2021, 200000)
('Data Analyst', 'EN', 'US', 2021, 50000)
('Applied Data Scientist', 'EN', 'GB', 2021, 110037)
('Data Analyst', 'EN', 'ES', 2021, 10354)
('Principal Data Scientist', 'MI', 'US', 2021, 151000)
('Data Scientist', 'MI', 'IN', 2021, 9466)
('Lead Data Scientist', 'SE', 'IN', 2021, 40570)
('Data Scientist', 'EN', 'FR', 2021, 49646)
('Data Scientist', 'EN', 'US', 2021, 100000)
('Data Analyst', 'MI', 'US', 2021, 90000)
('Principal Data Scientist', 'SE', 'US', 2021, 220000)
('Data Scientist', 'EN', 'US', 2021, 80000)
('Data Analyst', 'MI', 'US', 2021, 135000)
('Data Science Manager', 'SE', 'US', 2021, 240000)
('Data Engineering Manager', 'SE', 'US', 2021, 150000)
('Data Scientist', 'MI', 'US', 2021, 82500)
('Data Engineer', 'MI', 'US', 2021, 100000)
('Data Engineer', 'MI', 'US', 2021, 90000)
('Data Engineering Manager', 'SE', 'US', 2021, 153000)
('Cloud Data Engineer', 'SE', 'US', 2021, 160000)
('Director of Data Science', 'SE', 'JP', 2021, 168000)
('Data Scientist', 'MI', 'US', 2021, 150000)
('Data Scientist', 'MI', 'CA', 2021, 75774)
('Data Scientist', 'EN', 'UA', 2021, 13400)
('Data Science Manager', 'SE', 'US', 2021, 144000)
('Data Science Engineer', 'SE', 'CA', 2021, 127221)
('Data Scientist', 'MI', 'IL', 2021, 119059)
('Data Analytics Manager', 'SE', 'US', 2021, 120000)
('Head of Data', 'EX', 'RU', 2021, 230000)
('Head of Data Science', 'EX', 'RU', 2021, 85000)
('Data Engineer', 'MI', 'MT', 2021, 28369)
('Data Science Consultant', 'EN', 'DE', 2021, 63831)
('Director of Data Science', 'EX', 'DE', 2021, 130026)
('Data Specialist', 'SE', 'US', 2021, 165000)
('Data Engineer', 'EN', 'US', 2021, 80000)
('Director of Data Science', 'EX', 'US', 2021, 250000)
('BI Data Analyst', 'EN', 'US', 2021, 55000)
('Data Architect', 'MI', 'US', 2021, 150000)
('Data Architect', 'MI', 'US', 2021, 170000)
('Data Engineer', 'MI', 'GB', 2021, 82528)
('Data Analyst', 'EN', 'US', 2021, 60000)
('Principal Data Scientist', 'SE', 'US', 2021, 235000)
('Data Engineering Manager', 'SE', 'US', 2021, 174000)
('Data Scientist', 'MI', 'MX', 2021, 2859)
('Data Scientist', 'MI', 'CL', 2021, 40038)
('Data Scientist', 'MI', 'US', 2021, 5679)
('Big Data Engineer', 'MI', 'IN', 2021, 22611)
('Data Scientist', 'MI', 'DE', 2021, 90734)
('Data Engineer', 'MI', 'US', 2021, 26005)
('Finance Data Analyst', 'SE', 'GB', 2021, 61896)
('Data Engineer', 'MI', 'IR', 2021, 4000)
('Data Analytics Engineer', 'SE', 'GB', 2021, 50000)
('Data Science Consultant', 'EX', 'ES', 2021, 69741)
('Data Engineer', 'SE', 'GB', 2021, 76833)
('Data Science Manager', 'SE', 'FR', 2021, 152000)
('Big Data Engineer', 'MI', 'MD', 2021, 18000)
('Data Science Manager', 'SE', 'US', 2021, 174000)
('Data Scientist', 'MI', 'US', 2021, 147000)
('BI Data Analyst', 'EN', 'KE', 2021, 9272)
('Data Science Manager', 'SE', 'US', 2021, 54094)
('Data Science Consultant', 'EN', 'US', 2021, 90000)
('Data Scientist', 'MI', 'AT', 2021, 61467)
('Data Scientist', 'MI', 'ES', 2021, 37825)
('Data Scientist', 'MI', 'US', 2021, 160000)
('Data Scientist', 'MI', 'BR', 2021, 12901)
('Data Engineer', 'SE', 'US', 2021, 165000)
('Data Engineer', 'MI', 'US', 2021, 20000)
('Data Analytics Manager', 'SE', 'US', 2021, 120000)
('Data Engineer', 'MI', 'GB', 2021, 66022)
('Big Data Engineer', 'EN', 'CH', 2021, 5882)
('Principal Data Engineer', 'SE', 'US', 2021, 185000)
('Data Scientist', 'MI', 'DE', 2021, 90734)
('Data Analytics Manager', 'SE', 'US', 2021, 140000)
('Data Scientist', 'MI', 'GB', 2021, 116914)
('Data Scientist', 'MI', 'IN', 2021, 33808)
('Data Scientist', 'MI', 'GB', 2021, 56256)
('Principal Data Scientist', 'EX', 'US', 2021, 416000)
('Data Scientist', 'SE', 'CA', 2021, 87738)
('Data Scientist', 'MI', 'DE', 2021, 88654)
('Data Scientist', 'SE', 'US', 2021, 135000)
('Data Analyst', 'SE', 'CA', 2021, 71786)
('Big Data Engineer', 'EN', 'IN', 2021, 16228)
('Director of Data Engineering', 'SE', 'US', 2021, 200000)
('Data Analyst', 'SE', 'US', 2021, 200000)
('Data Architect', 'MI', 'US', 2021, 180000)
('Head of Data Science', 'MI', 'US', 2021, 110000)
('Data Scientist', 'MI', 'ES', 2021, 46809)
('Data Scientist', 'EN', 'VN', 2021, 4000)
('Data Engineer', 'EN', 'IN', 2021, 21637)
('Data Scientist', 'SE', 'CA', 2021, 103691)
('Data Analyst', 'MI', 'US', 2021, 80000)
('Data Engineer', 'MI', 'US', 2021, 110000)
('Data Scientist', 'SE', 'US', 2021, 165000)
('Data Engineer', 'MI', 'GB', 2021, 72212)
('Data Scientist', 'EN', 'FR', 2021, 36643)
('Data Engineer', 'MI', 'TR', 2021, 12103)
('Data Engineer', 'SE', 'GB', 2021, 96282)
('Principal Data Analyst', 'SE', 'US', 2021, 170000)
('Data Scientist', 'MI', 'US', 2021, 115000)
('Data Scientist', 'EN', 'US', 2021, 90000)
('Principal Data Engineer', 'EX', 'US', 2021, 600000)
('Data Scientist', 'EN', 'IN', 2021, 28399)
('Data Analyst', 'MI', 'US', 2021, 93000)
('Big Data Architect', 'SE', 'CA', 2021, 99703)
('Data Engineer', 'MI', 'US', 2021, 200000)
('Principal Data Scientist', 'SE', 'DE', 2021, 173762)
('Director of Data Science', 'EX', 'DE', 2021, 141846)
('Data Scientist', 'MI', 'US', 2021, 130000)
('Data Analyst', 'SE', 'DE', 2021, 63831)
('Data Scientist', 'MI', 'IN', 2021, 16904)
('Data Scientist', 'MI', 'DE', 2021, 25532)
('Lead Data Engineer', 'SE', 'US', 2021, 160000)
('Data Engineer', 'MI', 'US', 2021, 93150)
('Data Engineer', 'MI', 'US', 2021, 111775)
('Data Engineer', 'MI', 'TR', 2021, 28016)
('Data Engineer', 'EN', 'DE', 2021, 65013)
('Data Engineer', 'EN', 'US', 2021, 72500)
('Data Science Consultant', 'EN', 'DE', 2021, 76833)
('Data Scientist', 'SE', 'FR', 2021, 77684)
('Data Scientist', 'EN', 'US', 2021, 100000)
('Data Scientist', 'EN', 'US', 2021, 58000)
('Data Scientist', 'SE', 'TR', 2021, 20171)
('Business Data Analyst', 'EN', 'LU', 2021, 59102)
('Data Engineer', 'MI', 'US', 2021, 112000)
('Data Engineer', 'MI', 'NL', 2021, 69741)
('Staff Data Scientist', 'SE', 'US', 2021, 105000)
('Data Science Manager', 'SE', 'IN', 2021, 94665)
('Head of Data', 'SE', 'SI', 2021, 102839)
('Data Scientist', 'MI', 'US', 2021, 109000)
('Data Engineer', 'SE', 'US', 2022, 135000)
('Data Analyst', 'SE', 'US', 2022, 155000)
('Data Analyst', 'SE', 'US', 2022, 120600)
('Data Scientist', 'MI', 'US', 2022, 130000)
('Data Scientist', 'MI', 'US', 2022, 90000)
('Data Engineer', 'MI', 'US', 2022, 170000)
('Data Engineer', 'MI', 'US', 2022, 150000)
('Data Analyst', 'SE', 'US', 2022, 102100)
('Data Analyst', 'SE', 'US', 2022, 84900)
('Data Scientist', 'SE', 'US', 2022, 136620)
('Data Scientist', 'SE', 'US', 2022, 99360)
('Data Scientist', 'SE', 'GB', 2022, 117789)
('Data Scientist', 'SE', 'GB', 2022, 104702)
('Data Scientist', 'SE', 'US', 2022, 146000)
('Data Scientist', 'SE', 'US', 2022, 123000)
('Data Engineer', 'EN', 'GB', 2022, 52351)
('Data Analyst', 'SE', 'US', 2022, 99000)
('Data Analyst', 'SE', 'US', 2022, 116000)
('Data Analyst', 'MI', 'US', 2022, 106260)
('Data Analyst', 'MI', 'US', 2022, 126500)
('Data Engineer', 'EX', 'US', 2022, 242000)
('Data Engineer', 'EX', 'US', 2022, 200000)
('Data Scientist', 'MI', 'GB', 2022, 65438)
('Data Scientist', 'MI', 'GB', 2022, 39263)
('Data Engineer', 'MI', 'GB', 2022, 78526)
('Data Engineer', 'MI', 'GB', 2022, 52351)
('Data Scientist', 'SE', 'US', 2022, 165220)
('Data Engineer', 'EN', 'GB', 2022, 45807)
('Data Scientist', 'SE', 'US', 2022, 120160)
('Data Analyst', 'SE', 'US', 2022, 90320)
('Data Engineer', 'SE', 'US', 2022, 181940)
('Data Engineer', 'SE', 'US', 2022, 132320)
('Data Engineer', 'SE', 'US', 2022, 220110)
('Data Engineer', 'SE', 'US', 2022, 160080)
('Data Scientist', 'SE', 'US', 2022, 180000)
('Data Scientist', 'SE', 'US', 2022, 120000)
('Data Analyst', 'SE', 'US', 2022, 124190)
('Data Analyst', 'EX', 'US', 2022, 130000)
('Data Analyst', 'EX', 'US', 2022, 110000)
('Data Analyst', 'SE', 'US', 2022, 170000)
('Data Analyst', 'MI', 'US', 2022, 115500)
('Data Analyst', 'SE', 'US', 2022, 112900)
('Data Analyst', 'SE', 'US', 2022, 90320)
('Data Analyst', 'SE', 'US', 2022, 112900)
('Data Analyst', 'SE', 'US', 2022, 90320)
('Data Engineer', 'SE', 'US', 2022, 165400)
('Data Engineer', 'SE', 'US', 2022, 132320)
('Data Analyst', 'MI', 'US', 2022, 167000)
('Data Engineer', 'SE', 'US', 2022, 243900)
('Data Analyst', 'SE', 'US', 2022, 136600)
('Data Analyst', 'SE', 'US', 2022, 109280)
('Data Engineer', 'SE', 'US', 2022, 128875)
('Data Engineer', 'SE', 'US', 2022, 93700)
('Head of Data Science', 'EX', 'US', 2022, 224000)
('Head of Data Science', 'EX', 'US', 2022, 167875)
('Data Engineer', 'SE', 'US', 2022, 156600)
('Data Engineer', 'SE', 'US', 2022, 108800)
('Data Scientist', 'SE', 'US', 2022, 95550)
('Data Engineer', 'SE', 'US', 2022, 113000)
('Data Analyst', 'SE', 'US', 2022, 135000)
('Data Science Manager', 'SE', 'US', 2022, 161342)
('Data Science Manager', 'SE', 'US', 2022, 137141)
('Data Scientist', 'SE', 'US', 2022, 167000)
('Data Scientist', 'SE', 'US', 2022, 123000)
('Data Engineer', 'SE', 'GB', 2022, 78526)
('Data Engineer', 'SE', 'GB', 2022, 65438)
('Data Scientist', 'SE', 'US', 2022, 150000)
('Data Scientist', 'SE', 'US', 2022, 211500)
('Data Architect', 'SE', 'CA', 2022, 192400)
('Data Architect', 'SE', 'CA', 2022, 90700)
('Data Analyst', 'SE', 'CA', 2022, 130000)
('Data Analyst', 'SE', 'CA', 2022, 61300)
('Data Analyst', 'SE', 'CA', 2022, 130000)
('Data Analyst', 'SE', 'CA', 2022, 61300)
('Data Engineer', 'SE', 'US', 2022, 160000)
('Data Scientist', 'SE', 'US', 2022, 138600)
('Data Engineer', 'SE', 'US', 2022, 136000)
('Data Analyst', 'MI', 'US', 2022, 58000)
('Data Scientist', 'SE', 'US', 2022, 170000)
('Data Scientist', 'SE', 'US', 2022, 123000)
('Lead Data Engineer', 'EX', 'CA', 2022, 118187)
('Data Analyst', 'SE', 'US', 2022, 132000)
('Data Engineer', 'SE', 'US', 2022, 165400)
('Data Architect', 'SE', 'US', 2022, 208775)
('Data Architect', 'SE', 'US', 2022, 147800)
('Data Engineer', 'SE', 'US', 2022, 136994)
('Data Engineer', 'SE', 'US', 2022, 101570)
('Data Analyst', 'SE', 'US', 2022, 128875)
('Data Analyst', 'SE', 'US', 2022, 93700)
('Data Engineer', 'SE', 'US', 2022, 132320)
('Data Analyst', 'SE', 'US', 2022, 164000)
('Data Engineer', 'SE', 'US', 2022, 155000)
('Data Analyst', 'SE', 'US', 2022, 112900)
('Data Analyst', 'SE', 'US', 2022, 90320)
('Data Analytics Manager', 'SE', 'US', 2022, 145000)
('Data Analytics Manager', 'SE', 'US', 2022, 105400)
('Data Engineer', 'MI', 'GB', 2022, 117789)
('Data Scientist', 'SE', 'US', 2022, 215300)
('Data Scientist', 'SE', 'US', 2022, 158200)
('Data Engineer', 'SE', 'US', 2022, 209100)
('Data Engineer', 'SE', 'US', 2022, 154600)
('Data Analyst', 'SE', 'US', 2022, 115934)
('Data Analyst', 'SE', 'US', 2022, 81666)
('Data Engineer', 'SE', 'US', 2022, 175000)
('Data Engineer', 'MI', 'GB', 2022, 98158)
('Data Analyst', 'MI', 'US', 2022, 58000)
('Data Engineer', 'SE', 'US', 2022, 183600)
('Data Analyst', 'MI', 'GB', 2022, 52351)
('Data Scientist', 'SE', 'US', 2022, 180000)
('Data Scientist', 'MI', 'GB', 2022, 71982)
('Data Scientist', 'MI', 'GB', 2022, 45807)
('Data Engineer', 'MI', 'GR', 2022, 65949)
('Data Engineer', 'MI', 'GR', 2022, 49461)
('Data Engineer', 'MI', 'GB', 2022, 78526)
('Data Engineer', 'MI', 'GB', 2022, 58894)
('Data Scientist', 'SE', 'US', 2022, 260000)
('Data Science Engineer', 'SE', 'MX', 2022, 60000)
('Data Engineer', 'MI', 'US', 2022, 63900)
('Data Science Manager', 'MI', 'US', 2022, 241000)
('Data Science Manager', 'MI', 'US', 2022, 159000)
('Data Scientist', 'SE', 'US', 2022, 180000)
('Data Scientist', 'SE', 'US', 2022, 80000)
('Data Engineer', 'MI', 'US', 2022, 82900)
('Data Engineer', 'SE', 'US', 2022, 100800)
('Data Engineer', 'MI', 'ES', 2022, 49461)
('Data Scientist', 'SE', 'US', 2022, 140400)
('Data Analyst', 'MI', 'GB', 2022, 39263)
('Data Analyst', 'MI', 'ES', 2022, 43966)
('Data Analyst', 'MI', 'ES', 2022, 32974)
('Data Engineer', 'MI', 'ES', 2022, 87932)
('Data Engineer', 'MI', 'ES', 2022, 76940)
('Data Engineer', 'MI', 'GB', 2022, 104702)
('Data Engineer', 'MI', 'GB', 2022, 91614)
('Data Engineer', 'MI', 'ES', 2022, 65949)
('Data Engineer', 'MI', 'GR', 2022, 87932)
('Data Analyst', 'MI', 'GR', 2022, 43966)
('Data Analyst', 'MI', 'GR', 2022, 32974)
('Data Engineer', 'MI', 'GB', 2022, 98158)
('Data Engineer', 'MI', 'GB', 2022, 78526)
('Data Scientist', 'SE', 'US', 2022, 215300)
('Data Engineer', 'MI', 'GR', 2022, 76940)
('Data Engineer', 'SE', 'US', 2022, 209100)
('Data Engineer', 'SE', 'US', 2022, 154600)
('Data Engineer', 'SE', 'US', 2022, 180000)
('Data Engineer', 'SE', 'US', 2022, 80000)
('Director of Data Science', 'EX', 'CA', 2022, 196979)
('Data Engineer', 'SE', 'US', 2022, 105000)
('Business Data Analyst', 'MI', 'IN', 2022, 18442)
('Data Scientist', 'MI', 'IN', 2022, 31615)
('Financial Data Analyst', 'EN', 'US', 2022, 100000)
('Data Engineer', 'MI', 'DE', 2022, 54957)
('Data Scientist', 'EN', 'IN', 2022, 18442)
('Principal Data Scientist', 'SE', 'DE', 2022, 162674)
('Data Engineer', 'EN', 'US', 2022, 120000)
('Data Scientist', 'SE', 'US', 2022, 104890)
('Data Engineer', 'SE', 'US', 2022, 100000)
('Data Scientist', 'SE', 'US', 2022, 140000)
('Data Analyst', 'MI', 'US', 2022, 135000)
('Data Analyst', 'MI', 'US', 2022, 50000)
('Data Scientist', 'SE', 'US', 2022, 220000)
('Data Scientist', 'SE', 'US', 2022, 140000)
('Data Scientist', 'MI', 'GB', 2022, 183228)
('Data Scientist', 'MI', 'GB', 2022, 91614)
('Data Scientist', 'SE', 'US', 2022, 185100)
('Data Scientist', 'MI', 'US', 2022, 200000)
('Data Scientist', 'MI', 'US', 2022, 120000)
('Data Engineer', 'EX', 'US', 2022, 324000)
('Data Engineer', 'EX', 'US', 2022, 216000)
('Data Engineer', 'SE', 'US', 2022, 210000)
('Data Scientist', 'SE', 'US', 2022, 230000)
('Data Scientist', 'EN', 'DZ', 2022, 100000)
('Data Scientist', 'MI', 'US', 2022, 100000)
('Head of Data', 'SE', 'US', 2022, 200000)
('Principal Data Analyst', 'MI', 'CA', 2022, 75000)
('Data Scientist', 'MI', 'PL', 2022, 35590)
('Data Scientist', 'SE', 'US', 2022, 100000)
('Data Engineer', 'EN', 'DE', 2022, 58035)
('Data Scientist', 'SE', 'US', 2022, 165000)
('Data Scientist', 'EN', 'CA', 2022, 52396)
('Head of Data', 'MI', 'EE', 2022, 32974)
('Data Scientist', 'EN', 'MY', 2022, 40000)
('Data Engineer', 'SE', 'US', 2022, 115000)
('Data Scientist', 'EN', 'AU', 2022, 86703)
('Applied Data Scientist', 'MI', 'US', 2022, 157000)
('Business Data Analyst', 'MI', 'CA', 2022, 70912)
('Data Engineer', 'EN', 'US', 2022, 65000)
('Data Analytics Engineer', 'EN', 'PK', 2022, 20000)
('Data Scientist', 'MI', 'US', 2022, 48000)
('Data Science Manager', 'SE', 'US', 2022, 152500)
('Data Engineer', 'MI', 'FR', 2022, 68147)
('Data Scientist', 'MI', 'CH', 2022, 122346)
('Applied Data Scientist', 'SE', 'US', 2022, 380000)
('Data Scientist', 'MI', 'CA', 2022, 69336)
('Data Analyst', 'MI', 'GR', 2022, 20000)
('Data Analytics Lead', 'SE', 'US', 2022, 405000)
('Data Scientist', 'MI', 'US', 2022, 135000)
('Applied Data Scientist', 'SE', 'US', 2022, 177000)
('Data Scientist', 'MI', 'US', 2022, 78000)
('Data Analyst', 'SE', 'US', 2022, 135000)
('Data Analyst', 'SE', 'US', 2022, 100000)
('Data Analyst', 'SE', 'US', 2022, 90320)
('Data Analyst', 'MI', 'CA', 2022, 85000)
('Data Analyst', 'MI', 'CA', 2022, 75000)
('Data Architect', 'SE', 'US', 2022, 266400)
('Data Architect', 'SE', 'US', 2022, 213120)
('Data Analyst', 'SE', 'US', 2022, 112900)
('Data Engineer', 'SE', 'US', 2022, 155000)
('Data Scientist', 'MI', 'US', 2022, 141300)
('Data Scientist', 'MI', 'US', 2022, 102100)
('Data Analyst', 'SE', 'US', 2022, 115934)
('Data Analyst', 'SE', 'US', 2022, 81666)
('Data Engineer', 'MI', 'US', 2022, 206699)
('Data Engineer', 'MI', 'US', 2022, 99100)

In [13]:
# show all positions and experience level and company locations which has a salary >= 300000USD and the attribute chosen by user
# that contains the keyword director

#show all attributes to user
op_cursor.execute("select * from ds_salaries")
attributes = [tuple[0] for tuple in op_cursor.description]
i = 0
for attr in attributes:
    print("%d:"%(i) + attr)
    i = i + 1

attr = attributes[int(input ("Select Attribute :"))]
keyword = input ("Enter keyword :") 
op_cursor.execute("select job_title, experience_level, company_location, work_year, salary_in_usd from ds_salaries WHERE %s LIKE '%%%s%%'"%(attr, keyword))
results = op_cursor.fetchall()
for entry in results:
    print(entry)

0:seq
1:work_year
2:experience_level
3:employment_type
4:job_title
5:salary
6:salary_currency
7:salary_in_usd
8:employee_residence
9:remote_ratio
10:company_location
11:company_size
('Big Data Engineer', 'SE', 'GB', 2020, 109024)
('Big Data Engineer', 'SE', 'GB', 2020, 114047)
('Big Data Engineer', 'EN', 'US', 2020, 70000)
('Big Data Engineer', 'MI', 'RO', 2021, 60000)
('Big Data Engineer', 'MI', 'IN', 2021, 22611)
('Big Data Engineer', 'MI', 'MD', 2021, 18000)
('Big Data Engineer', 'EN', 'CH', 2021, 5882)
('Big Data Engineer', 'EN', 'IN', 2021, 16228)
('Big Data Architect', 'SE', 'CA', 2021, 99703)